* text=auto encoding=UTF-8
*.sh text eol=lf

*.cs     diff=csharp text

#*.sln       merge=binary
#*.csproj    merge=binary
#*.vbproj    merge=binary
#*.fsproj    merge=binary

#*.gif   binary
#*.jpg   binary
#*.png   binary
*.svg   text

